body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
}

.ItemClass {
  background: #ffffff;
  box-sizing: border-box;
  border: solid 1px black;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}
.ItemClass:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}
.ItemPictureClass {
  border-radius: 50%;
  border: 1rem solid teal;
}
#ItemPrice {
  color: blue;
}
#ItemButton,
#DeleteButton {
  font-size: medium;
  background-color: sandybrown;
  width: 200px;
  border-radius: 20px;
  transition: all 0.1s linear;
}
#ItemButton:hover,
#DeleteButton:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}
#ItemButton:active,
#DeleteButton:active {
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (min-width: 768px) {
  .ItemsClass {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
